body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #5b0ee9;
    margin-top: 150px;
  }
  
  h1 {
    color: #010c03;
  }
  input {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: 3px solid #2c3e50;
    border-radius: 8px;
  }
  .button-container {
    margin-top: 30px;
  }
  button {
    margin: 15px;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.7;
  }
  .suma {
    background-color: #0ae064;
    color: rgb(8, 6, 6);
  }
  .resta {
    background-color: #0de218;
    color: rgb(3, 2, 2);
  }
  .multiplicacion {
    background-color: #29b94d;
    color: rgb(5, 3, 3);
  }
  .division {
    background-color: #17da17;
    color: rgb(2, 1, 3);
  }
  #result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    color: #2c3e50;
  }
  img{
    margin-left: 40%;
    width: 100%;
    height: auto;
    border-radius: 35%;
    margin: 80px 0;
}